.backcolor{
    
    background-color: #333232;
    padding-block-end: 160px;
    
}
body{
    background-color: #000000d0;
}
video{
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px ;
}

.prof{
    scroll-padding-top: 200px;
}